<ion-content>
  <ion-toolbar>
    <ion-title>
      Vaccine
    </ion-title>
  </ion-toolbar>
  <div class="ion-padding">
    @if (vaccineList$ | async; as vaccineList) {
    <ion-list>
      @for(vaccine of vaccineList; track vaccine) {
      <ion-item tappable routerLink="/tabs/vaccine/{{ vaccine.id }}">
        <ion-label>
          <h2>{{ vaccine.name || 'Unnamed Vaccine'}}</h2>
          @if (vaccine.description) {
            <p>Description: <strong>${{vaccine.description}}</strong></p>
          }
          @if (vaccine.date) {
            <p>Date: <strong>{{vaccine.date | date }}</strong></p>
          }
          @if (vaccine.age_group && vaccine.age_group.length >= 1) {
            <p>For age groups between {{vaccine.age_group[0]}} and {{vaccine.age_group[1]}}</p>
          }
        </ion-label>
      </ion-item>
      }
    </ion-list>
    } @else {
    <ion-text>
      <p>No vaccines available</p>
    </ion-text>
  }
</div>
</ion-content>
